<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="assets/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom -->
    <link rel="stylesheet" href="assets/custom/css/sidebar.css">

    <title>NMS</title>
</head>

<body class="bg-secondary d-flex">

    <aside id="sidebar" class="d-flex">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 300px;">
            <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <ion-icon class="mx-1" name="information-circle" size="large"></ion-icon>
                <span class="fs-6 fw-bold">
                    Notitia Manager System
                </span>
            </a>
            <div class="border-bottom pb-3">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal_setting">
                    <ion-icon class="pt-1" name="settings-outline" size="small"></ion-icon>
                </button>
                <button type="button" class="btn btn-success">
                    <ion-icon class="pt-1" name="refresh" size="small"></ion-icon>
                </button>
            </div>
            <ul class="list-unstyled ps-0">

                <li class="mb-1" v-for="(database, i) in databases">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        :data-bs-target="'#btn-collapse-'+i" aria-expanded="true">
                        <ion-icon class="mx-1" name="file-tray-stacked" size="small"></ion-icon>{{database.name}}
                    </button>
                    <div class="collapse" :id="'btn-collapse-'+i">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li v-for="collection in database.collections">
                                <a href="#" class="link-dark rounded">
                                    <ion-icon class="mx-1" name="file-tray-full" size="small"></ion-icon>{{collection}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </aside>
    <main class="d-flex">
    </main>

    <!-- -------------------------------- MODAL -------------------------------- -->
    <div id="modal_setting" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="uri" class="form-label">URI</label>
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text"><ion-icon name="home"></ion-icon></span>
                        <input id="uri" type="text" class="form-control" placeholder="mongodb://localhost:27017" aria-label="URI" aria-describedby="addon-wrapping">
                    </div>

                    <label for="username" class="form-label">Username</label>
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text"><ion-icon name="person"></ion-icon></span>
                        <input id="username" type="text" class="form-control" placeholder="root" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>

                    <label for="password" class="form-label">Password</label>
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text"><ion-icon name="key"></ion-icon></span>
                        <input id="password" type="text" class="form-control" placeholder="toor" aria-label="Password" aria-describedby="addon-wrapping">
                    </div>

                    <label for="auth_source" class="form-label">Auth Source</label>
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text"><ion-icon name="lock-closed"></ion-icon></span>
                        <input id="auth_source" type="text" class="form-control" placeholder="admin" aria-label="Auth Source" aria-describedby="addon-wrapping" value="admin">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Connect</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ionicons Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Vue JS -->
    <script src="assets/vue@2.6.14/js/vue.min.js"></script>

    <!-- Must below VueJS & Axios -->
    <script src="assets/custom/js/sidebar.js"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="assets/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>

</html>