<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="assets/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom -->
    <link rel="stylesheet" href="assets/custom/css/sidebar.css">

    <title>NMS</title>
</head>

<body class="bg-secondary d-flex">

    <aside id="sidebar" class="d-flex">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 300px;">
            <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <ion-icon class="mx-1" name="information-circle" size="large"></ion-icon>
                <span class="fs-6 fw-bold">
                    Notitia Manager System
                </span>
            </a>
            <ul class="list-unstyled ps-0">

                <li class="mb-1" v-for="(database, i) in databases">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        :data-bs-target="'#btn-collapse-'+i" aria-expanded="true">
                        <ion-icon class="mx-1" name="file-tray-stacked" size="small"></ion-icon>{{database.name}}
                    </button>
                    <div class="collapse" :id="'btn-collapse-'+i">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li v-for="collection in database.collections">
                                <a href="#" class="link-dark rounded">
                                    <ion-icon class="mx-1" name="file-tray-full" size="small"></ion-icon>{{collection}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </aside>
    <main class="d-flex">
    </main>

    <!-- ionicons Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Vue JS -->
    <script src="assets/vue@2.6.14/js/vue.min.js"></script>

    <!-- Must below VueJS & Axios -->
    <script src="assets/custom/js/sidebar.js"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="assets/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>

</html>